.form {
  margin-top: 5%;
}
.bg {
  height: 90vh;
  background-color: black;
}
.bgg{
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.navbar {
  background-color: black !important;
  padding-top: 29px;
}
.navbar-brand {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navbar-auth-logo img {
  width: 125px;
}
.hero-background-screen {
  background-color: black;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-column-move-up {
  margin-top: -7%;
}
.auth-hero-text {
  color: white;
  font-weight: 350;
  font-size: 18px;
  letter-spacing: 0.4rem;
  margin-top: 2%;
  text-align: left;
}
.auth-label-text {
  color: #7E7E7E;
  font-weight: 350;
  font-size: 14px;
  letter-spacing: 0.3rem;
  margin-top: 3%;
}
.inputwBtn {
  display: flex;
  align-items: end;
}
.control.forgetPassword {
  padding-bottom: 30px;
}

@media screen and (max-width: 1090px) {
  .navbar-auth-logo {
    margin-left: 5%;
  }
  .hero-background-screen {
    height: 880px;
  }
}
@media screen and (max-width: 769px) {
  .flex-input-field {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .navbar-auth-logo {
    width: 100px;
  }
  .auth-hero-text {
    font-size: 14px;
    letter-spacing: 0.4rem;
    margin-top: 2%;
  }
  .auth-label-text {
    color: #7E7E7E;
    font-weight: 350;
    font-size: 10px;
    letter-spacing: 0.3rem;
    margin-top: 1%;
  }
}
@media(max-width:390px){
  .auth-hero-text {
    font-size: 12px;
  }
  .auth-input-field {
    width: 300px;
  }
  .hero-background-screen {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg {
    height: 750px;
  }
  .form {
    width: 300px;
  }
  .navbar-auth-logo img {
    width: 90px;
}
}