input#basic_new_password {
    background-color: black;
    color: white;
}
input#basic_re_new_password {
    background-color: black;
    color: white;
}
.resetPasswordConfirm {
    padding-bottom: 45px;
}